@import '~styles/colors';

.footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e5e5e5;

  padding-top: 20px;
  padding-right: 15px;
  padding-right: 15px;

  font-size: 14px;
  color: $footer;
}
