@import '~styles/colors';

.footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $border;

  padding-top: 20px;
  padding-right: 15px;
  padding-right: 15px;

  font-size: 13px;
  font-weight: 300;
  color: $footer;
}
