@import '~styles/colors';

.container {
  box-sizing: border-box;
  text-align: center;
  padding: 48px;
  margin-bottom: 30px;
  background-color: #eee;
}

.title {
  font-weight: 700;
  font-size: 45px;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: $muted;
}
