@import '~styles/colors';

.header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $border;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.nav {
  flex-shrink: 0;
}

.title {
  font-weight: 700;
  font-size: 26px;
  color: $muted;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 36px;
}

.title:hover {
  color: $primary-color;
  cursor: pointer;
}
